[Unit]
Description=Valkey In-Memory Date Store
After=network.target

[Service]
User=valkey
Group=valkey
ExecStart=/usr/bin/valkey-server /etc/valkey/valkey.conf
LimitNOFILE=10240
ExecStop=/usr/bin/valkey-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target
